<%- include("./layouts/header.ejs") %>

    <body>
        <style>
            body {
                background-image: radial-gradient(coral 10%, lightcoral, crimson);
                background-repeat: no-repeat;
                padding-bottom: 550px;
            }
        </style>
        <div class="mb-5 mt-5">
            <h1 style="color: white;" >this is About us page</h1>
        </div>
    </body>
    <%- include("./layouts/footer.ejs") %>