<%- include("./layouts/header.ejs") %>

    <body>
        <style>
            body {
                background-color: rgb(239, 193, 125);
            }
        </style>
        <div class="mb-5 mt-5">
            <h1 style="color: white;" >this is Contact us page</h1>
        </div>
    </body>
    <%- include("./layouts/footer.ejs") %>