<%- include("./layouts/header.ejs") %>
<style>
    body{
        background-color: rgb(239, 193, 125);
    }
    form{
        margin-top: 10px;
    }
    h1{
        color: #ebe6e6;
    }
</style>
<div class="container mt-5 mb-5 playcard">
    
    
    <form action="" method="POST">
        <h1>Forget Password</h1>
        <input type="email" required placeholder="Enter Email" name="email">
        <br><br>
        <input type="submit" value="Forget Password" class="btn btn-info">
    </form>

    <%
        if(typeof message !== 'undefined'){
            %>
            <p><%= message %></p>
            <%
        }
    %>
</div>

<%- include("./layouts/footer.ejs") %>
