<%- include('./layouts/header.ejs') %>
  <style>
    body{
      background-color: rgb(239, 193, 125);
    }
    form{
        margin-top: 10px;
    }
</style>
  
      <div class="container mb-5 mt-5 playcard">
          
          <%
          if(typeof message !== 'undefined'){
              %>
              <p style="color: green;"><%= message %></p>
              <%
          } 
          %> 
          
          <form action="" method="POST">
              <h1 style="color:#BBE1FA;">Register</h1>
              <div class="row mt-3 playcard-container">
                  <div class="row">
                    <input type="name" name="name" placeholder="Enter name" aria-label="First name" required>
                  </div>
                  <div class="row" style="margin: 15px 0;">
                    <input type="emaił" name="email" placeholder="Enter email" aria-label="First name" required>
                  </div>
                  <div class="row">
                    <input type="password" name="password" placeholder="Enter password" aria-label="Last name" required>
                  </div>
                  <div class="row mt-3">
                      <input type="submit" value="Register" class="btn btn-info">
                  </div>
              </div>
          </form>
  
      </div>
    <%- include('./layouts/footer.ejs') %>