<%- include("./layouts/header.ejs") %>
<style>
    body{
        background-color: rgb(239, 193, 125);
    }
    form{
        margin-top: 10px;
    }
    h1{
        color: #ebe6e6;
    }
</style>
    <div class="container mb=5 mt-5 playcard">
        
        <form method="POST">
            <h1>Reset Password</h1>
            <input type="password" required placeholder="Enter New Password" name="password">
            <input type="hidden" name="user_id" value="<%= user_id %>">
            <br><br>
            <input type="submit" value="Reset" class="btn btn-info">
        </form>

    </div>

<%- include("./layouts/footer.ejs") %>
